.App{
    background-color: rgb(112, 204, 173);
    height: 100vh;
    margin:0;
    padding: 0;
}
.titlePhone{
    font-size: 35px;
    color:rgb(129, 14, 14);
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 0;
}

.btnTitle{
    font-size: 35px;
    color:rgb(78, 121, 21);
    font-weight: 700;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    margin: 0;
}

